body {
  display: flex;
  flex-direction: column;
  font-family: $text-font;
  background-image: $body-background-color;
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;  
}

html,
body {
  height: 100%;
}

    

.header,
.footer {
  flex: 0 0 auto;
  background: #d3d3d3;
}

.main {
  flex: 1 0 auto;
  padding: 2em;
  background: $main-background-color;
  width: 80%;
  max-width: 64rem;
  padding: 2rem;
  margin: 0 auto;
}
