body{
    display: flex;
    flex-direction: column;
    font-family: $text-font;
      
}

html, body {
    height: 100%;
}
    

.header, .footer {
    flex: 0 0 auto;
    background: lightgrey;
}

.main{
    flex: 1 0 auto;
    padding: 2em 2em 2em 2em;
    background: $main-background-color;
    width: 100%;
    max-width: 64rem;
    padding: 2rem;
    margin: 0 auto;

}
