.landingpage {
    display: grid;
    gap: 1.96rem 1.96rem;
    margin-bottom: 1.96rem;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.css{
  grid-column: span 1;
  background-color: $header-background-color;
  color: white;
}
.html{
  grid-column: span 2;
  background-color: $header-background-color;
  color: white;

}
.javascript{
  grid-column: span 2;
  background-color: $header-background-color;
  color: white;


}
.php{
  grid-column: span 1;
  background-color: $header-background-color;
  color: white;


}
.git{
  grid-column: span 1;
  background-color: $header-background-color;
  color: white;


}
.sqlite{
  grid-column: span 2;
  background-color: $header-background-color;
  color: white;


}
.python{
  grid-column: span 3;
  background-color: $header-background-color;
  color: white;


}

@media (max-width: 768px) {
  .css{
    grid-column: span 3;
  }
  .html{
    grid-column: span 3;
  }
  .javascript{
    grid-column: span 3;
  }
  .php{
    grid-column: span 3;
  }
  .git{
    grid-column: span 3;
  }
  .sqlite{
    grid-column: span 3;
  }
  .python{
    grid-column: span 3;
  }
  .technology{
    grid-template-columns: 1fr;
  }
}


.box{
    border: 1px solid rgb(0, 0, 0);
    padding: 1.96rem;
}

.box:hover {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
}

.technology{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  
  .technology .article{
    width: 60%;
  }
  
  .technology .menu{
    width: 30%;
  }