$text-font: 'Montserrat', sans-serif;
$main-background-color: #d4d4d7;
$main-font-color: #000000;
$header-font-color: #050508;
$header-background-color: #6c6c6f;
$body-background-color: white;




// Dark
// #000000

// Semi dark
// #050508

// Lighter
// #6c6c6f

// Light
// #d4d4d7

// White
// #ffffff
