$text-font: 'Montserrat', sans-serif;
$main-background-color: #000000;
$main-font-color: #fff;
$header-font-color: #d4d4d7;
$header-background-color: #6c6c6f;
$body-background-color: url('/~esst24/dbwebb-kurser/design/me/portfolio/assets/img/dark_background.jpg');

